{% extends 'base.html'%}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
<style>
    h1 {color:#1a1a61; font-size: 380% ;text-decoration:underline ; font-weight: bold;}
    h2 {color:#1a1a61; font-size: 330%;}
    p {color:#0d1321; font-size: 200%; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif}
    .panel {background-color: #88B7B5; }
    .subtext {font-size: 130%; font-weight: bold;}
</style>

<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto">
            {{wtf.quick_form(comment_form)}}
            <!-- {{simplemde.load}} -->
        </div>
    </div>
</div>
{% endblock%}