{% extends 'base.html'%}
{% import "bootstrap/wtf.html" as wtf %}


{% block content%}

                <p>{{blog.blog}}</p>

                <h3>Leave a Comment</h3>
                {{wtf.quick_form(comment_form)}}
            </div>
            <div class="comments-card col-sm-6">
                <h3>Comments</h3>
                {% if comments %}
                {% for comment in comments%}
               <p> {{comment.comment}} </p>
               {% if current_user.is_authenticated %}<a href="{{url_for('main.delete_comment', id = comment.id)}}">Delete</a>{% endif %}
                {% endfor%}
                {% else %}
                <p>There are no comments</p>
                {% endif %}
            </div>
        </div>

    </div>
{% endblock%}